<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <title>Кабинет</title>
    </head>
    <body>
        <div th:each="user : ${user}">
            карта <span th:text="${user.cardNumber}"></span>
            <br>
            баланс: <span th:text="${user.balance}"></span>
        </div>
        <br>
        <button type="button" onclick="window.location.href = 'transaction'">транзакции</button>
        <br>
        <button type="button" onclick="window.location.href = '.'">Выйти</button>
    </body>
</html>