<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <title>Транзакции</title>
    </head>
    <body>
        <div>
            <form th:action="@{/transaction}" method="post">
                <p>карта получателя: <input type="number" name="getterCardNumber" id="getterCardNumber"></p> <b style="color:red" th:if="${getterCardNumberErr}" th:text="${getterCardNumberErr}"/>
                <p>сумма: <input type="number" name="amount" id="amount"></p> <b style="color:red" th:if="${amountErr}" th:text="${amountErr}"/>
                <p>сообщение: <input type="text" name="message"></p> <b style="color:red" th:if="${messageErr}" th:text="${messageErr}"/>
                <button type="submit" onclick="checkValues()">отправить</button>
            </form>
        </div>
        -----------------------
        <div th:each="transaction : ${transactions}">
            <p th:text="${transaction.getter}"></p>
            <p th:text="${transaction.date}"></p>
            <p th:text="${transaction.amount}"></p>
            <p th:text="${transaction.message}"></p>
            <strong>---------</strong>
        </div>
        <script>
            var getterCardNumber = document.getElementById("getterCardNumber");
            var amount = document.getElementById("amount");
            function checkValues() {
                if (getterCardNumber.value == "") {
                    getterCardNumber.value = 0;
                }
                if (amount.value == "") {
                    amount.value = 0;
                }
            }
        </script>
    </body>
</html>