<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <title>зарегистрироваться</title>
    </head>
    <body>
        <form th:action="@{/registration}" method="post">
            Логин <input type="text" name="username"> <b style="color:red" th:if="${usernameErr}" th:text="${usernameErr}"/>
            <br>
            Пароль <input type="text" name="password"> <b style="color:red" th:if="${passwordErr}" th:text="${passwordErr}"/>
            <br>
            Имя <input type="text" name="name"> <b style="color:red" th:if="${nameErr}" th:text="${nameErr}"/>
            <br>
            Фамилия <input type="text" name="surname"> <b style="color:red" th:if="${surnameErr}" th:text="${surnameErr}"/>
            <br>
            email <input type="text" name="email"> <b style="color:red" th:if="${emailErr}" th:text="${emailErr}"/>
            <br>
            <button>Зарегистрироваться</button>
        </form>
    </body>
</html>