<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <title>Подтверждено</title>
    </head>
    <body>
        терминал <b th:text="${terminal.token}"/> успешно подтвержден!
    </body>
</html>