<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <title>Мои терминалы</title>
    </head>
    <body>
        <div th:each="terminal : ${terminals}">
            <b th:text="${terminal.name}"/>
            <br><br>
            Категория: <b th:text="${terminal.category}"/> <br>
            Баланс: <b th:text="${terminal.balance}"/> <br>
            <strong>------------------</strong>
        </div>
    </body>
</html>